<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service android:name="androidx.credentials.playservices.CredentialProviderMetadataHolder">
            <meta-data
                android:name="androidx.credentials.CREDENTIAL_PROVIDER_KEY"
                android:value="androidx.credentials.playservices.CredentialProviderPlayServicesImpl" />
        </service>
        <activity android:name="jp.developer.retia.credential.CredentialActivity" />
    </application>
</manifest>